header{
    background-color: black;
    padding: 20px;
}
nav a{
    color:aliceblue;
    margin: 0 10px;
    text-decoration: none;
    padding: 10px 20px; 
}
nav a:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 20px;
}